.cart-no{
  position: absolute;
  min-height: 22px;
  min-width: 22px;
  border-radius: 50%;
  font-size: 0.9em;
  background: #800000;
  color: white;
  text-align: center;
  top: -14px;
  right: 32px;
}
